<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">
        
    <title>Hospitable Hospitals</title>

    <!-- Custom Style CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- For bar chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <style>
    .slider
    {
    width: 98%;
    }
    </style>
</head>

<body>
    
    <!-- Navigation bar fixed at top -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <h2 style="margin-top:-8px">Hospitable Hospitals</h2></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about"><h4 style="margin-top:0px">About</h4></a></li>
                    <li><a href="/contact"><h4 style="margin-top:0px">Contact</h4></a></li>
                </ul>
            </div>
        </div>
    </div>

    <br>

    <!-- Jumbotron for primary message -->
    <div class="jumbotron">
        <div class="container" style="margin-bottom:-40px">
            <p>Helping hospitals achieve higher ratings through improving patient experience</p>
        </div>
    </div>
    
    <!-- Page content -->
    <div class="container">
        
        <div class="row">

            <!-- Parameters on left -->
            <div class="col-sm-4" style="width:350px">
                
                <img src="../static/average.png">
                <!-- Search bar -->
                <form method="POST" action="">
                    <div>
                        <h3 class="twofive">Hospital Name:</h3>
                        <input type="text" name="name" value="{{hospital_name}}" placeholder="try: Beth Israel" size="36"/>
                    </div>
                    
                    <br>

                    <input type="submit" name="button" value="Search/Reset" size="36"/>

                    <br><br>
                    
                    <h3 class="twofive">Yelp Reviews:</h3>
                    
                    <div class="slider">
                        <b>Overall Experience:</b>
                        <input type="range" step=25 list="tickmarks2" name="Overall" value="{{rounded_values[0]}}"><br>
                        
                        <b>Timeliness:</b>
                        <input type="range" step=25 list="tickmarks2" name="Timeliness" value="{{rounded_values[1]}}"><br>
                        
                        <b>Cleanliness:</b>
                        <input type="range" step=25 list="tickmarks2" name="Cleanliness" value="{{rounded_values[2]}}">
                    </div>
                    
                    <p style="text-align:left;">😞<span style="float:right;">😀</span> </p>
                    
                    <h3 class="twofive">Medicare Surveys:</h3>
                    
                    <div class="slider">
                        <b>Helpfulness:</b>
                        <input type="range" step=25 list="tickmarks2" name="Helpfulness" value="{{rounded_values[3]}}" id="Helpfulness"/><br>
                        
                        <b>Communication:</b>
                        <input type="range" step=25 list="tickmarks2" name="Communication" value="{{rounded_values[4]}}" id="Communication"/><br>
                        
                        <b>Quietness:</b>
                        <input type="range" step=25 list="tickmarks2" name="Quietness" value="{{rounded_values[5]}}" id="Quietness"/>
                    </div>
                    
                    <p style="text-align:left;">😞<span style="float:right;">😀</span> </p>
                    
                    <br>
                    
                    <input type="submit" name="button" value="Update"/>
                    
                </form>
                
                <!-- Settings for slider bar tickmarks -->
                <datalist id="tickmarks2">
                    <option value="0" label="Unhappy"></option>
                    <option value="25"></option>
                    <option value="50"></option>
                    <option value="75"></option>
                    <option value="100" label="Happy"></option>
                </datalist>
                
                <br><br>
                
            </div>
            <!-- /.Parameters on left -->

            <!-- Results on right -->
            <div class="col-sm-8" style="margin-left:25px">
                
                <!-- Header with hospital name -->
                <div class="well" style="padding-bottom:5px">
                    <h2 style="margin-top:-5px"><b><a href="{{selected['Link']}}" target="_blank">{{name}}</a></b></h2>
                </div>
                
                <!-- % positive results -->
                <div class="row">
                    
                    <!-- Bar chart -->
                    <div class="col-sm-8">
                        <div class="well" style="text-align:center">
                                <h4 style="margin-top:-5px; margin-bottom:-15px"><b>% Positive Sentiment</b></h4>
                                <br><br>
                            <canvas id="chart" width="450" height="300"></canvas>
                            <script>
                                // Bar chart data and labels
                                var barData = {
                                    labels : [{% for item in labels %}
                                              "{{ item }}",
                                              {% endfor %}],
                                    
                                    datasets : [{
                                                fillColor: "rgba(151,187,205,0.15)",
                                                strokeColor: "rgba(151,187,205,0.8)",
                                                pointColor: "rgba(151,187,205,0.8)",
                                                data : [{% for item in values %}
                                                        "{{ item }}",
                                                        {% endfor %}]
                                               }]
                                       }
                            
                                // Get bar chart canvas
                                var mychart = document.getElementById("chart").getContext("2d");
                                steps = 5
                                max = 100
                                
                                // Draw bar chart
                                new Chart(mychart).Bar(barData, {
                                                       scaleOverride: true,
                                                       scaleSteps: steps,
                                                       scaleStepWidth: Math.ceil(max / steps),
                                                       scaleStartValue: 0,
                                                       scaleShowVerticalLines: true,
                                                       scaleShowGridLines : true,
                                                       barShowStroke : true,
                                                       scaleShowLabels: true,
                                                       }
                                                       );
                            </script>
                            <br>
                            </center>
                        </div>
                    </div>
                    
                    <!-- Overall bar chart -->
                    <div class="col-sm-4">
                        <div class="well" style="text-align:center">
                            <h4 style="margin-top:-5px; margin-bottom:-15px"><b>Overall Rating: </b>{{overall}}</h4>
                            <br>
                            {% if message==" " %}
                                <br>
                            {% endif %}
                            
                            <center>{{message}}</center>
                            <canvas id="chart2" width="150" height="280"></canvas>
                            <script>
                                // Bar chart data and labels
                                var barData2 = {
                                    labels : ["Overall Rating",],
                                    
                                              datasets : [{
                                                          fillColor: "rgba(151,187,205,0.6",
                                                          strokeColor: "rgba(151,187,205,1)",
                                                          pointColor: "rgba(151,187,205,1)",
                                                          data : [{{ overall }}]
                                                          }]
                                }
                            
                            // Get bar chart canvas
                            var mychart2 = document.getElementById("chart2").getContext("2d");
                            steps = 5
                            max = 5
                            
                            // Draw bar chart
                            new Chart(mychart2).Bar(barData2, {
                                                   scaleOverride: true,
                                                   scaleSteps: steps,
                                                   scaleStepWidth: Math.ceil(max / steps),
                                                   scaleStartValue: 0,
                                                   scaleShowVerticalLines: true,
                                                   scaleShowGridLines : true,
                                                   barShowStroke : true,
                                                   scaleShowLabels: true,
                                                   }
                                                   );
                            </script>
                            <br><br>
                        </div>
                    </div>
                </div>
  
                <!-- Hospital highlights -->
                {% if summary != "NONE" %}
                <div class="well">
                    <h3>Hospital Highlights</h3>
                    <h4>
                        <p><font color="#248c3e"><b>Positive:</b></font></p>
                        {% for i in range(0, 3) %}
                            {% if summary.split("SPLIT")[i] != "" %}
                                <p>&#8226;&nbsp; {{summary.split("SPLIT")[i]}}</p>
                            {% endif %}
                        {% endfor %}
                         
                        <p><font color="#b72a2a"><b>Negative:</b></font></p>
                        {% for i in range(3, 6) %}
                            {% if summary.split("SPLIT")[i] != "" %}
                                <p>&#8226;&nbsp; {{summary.split("SPLIT")[i]}}</p>
                            {% endif %}
                        {% endfor %}
                    </h4>
                    (Curated from {{summary.split("SPLIT")[6]}} total sentences.)
                    <br>
                </div>
                {% endif %}
            </div>
            <!-- /.Results on right -->

        </div>
        <!-- /.row -->
        
    </div>
    <!-- /.container -->

</body>
</html>

